<% form_tag search_path, :method => :get, :id => 'microSearch' do %><div style="margin: 0;padding: 0;">
	<%= text_field_tag :keywords, '', :id => 'keywordsMicro' %>
	<%= submit_tag 'go', :id => 'btnGoMicro', :class => 'aimage' %>
</div><% end -%>