@import url(./malo.css);
@import url(./base.css);
@import url(./header.css);
@import url(./nav.css);
@import url(./copy.css);
@import url(./form.css);
@import url(./footer.css);
@import url(./modules/controls.css);
@import url(./modules/table_list.css);
@import url(./modules/pagination.css);

div#topBar {
  position: relative;
  }

div#topBar a.button,
div#topBar span.button {
  display: block;
  position: relative;
  left: auto;
  float: left;
  height: 11px;
  margin: 0 1px 0 0;
  padding: 16px 17px 20px 17px;
  background-color: #466815;
  color: #fff;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-transform: uppercase;
  }
div#topBar a.active,
div#topBar span.active {
  background-color: #73928f;
  }
  
div.stats {
  margin: 0 auto;
  width: 728px;
  }
div.stats h2 {
  margin: 15px 0 0 0;
  font-weight: normal;
  }
  
div.tip {
  display: block;
  position: relative;
  width: 728px;
  margin: 0 auto 40px auto;
  padding: 2px;
  font-size: 13px;
  border-bottom: 1px dashed #ccc;
  }

div.action {
  display: block;
  width: 684px;
  border-top: 1px solid #ccc;
  margin-left: 41px;
  padding-top: 3px;
}

div#map {
  overflow: hidden;
}
