div#header {
  position: relative;
  width: 930px;
  height: 140px;
  margin: 0 auto;
  background: #fff url(/images/world.gif) right 0 no-repeat;
  }
form#microSearch {
  position: absolute;
  right: 33px;
  top: 10px;
  width: 213px;
  z-index: 1000;
  }
form#microSearch input {
  color: #fff;
  border: 0;
  margin: 0;
  font-size: 14px;
  }


form#microSearch input[type=text] {
  padding: 4px 6px 4px 6px;
  float: left;
  width: 170px;
  background-color: #75928f;
  }
form#microSearch input[type=submit] {
  outline-width: 0;
  background-color: #303030;
  padding: 2px 6px 6px 6px;
  width: 30px;
  height: 25px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-transform: lowercase;
  }
form#microSearch input[type=submit]:hover {
  background-color: #404040;
  }
  
a#logo {
  position: absolute;
  left: 60px;
  top: 29px;
  }