<% if logged_in? -%>
<div id="userControls" class="controls">
	<%= link_to "Admin", admin_root_path if current_user.has_role?("admin") %>
	<%= link_to "Log out", logout_path, :title => "Logout" %>
</div>
<% end -%>