<%= render :partial => 'users/account_header' %>
	
<div style="width: 420px; float: left;" >
	<% @user.password = @user.password_confirmation = nil %>
	<%= render :partial => 'edit_user_form' %>
</div>

<div id="map" style="float: right; width: 360px; height: 300px; border: 1px solid #777; overflow: hidden;"></div>

<script type="text/javascript">
//<![CDATA[
 	
 	var users = [];
 	
	<%= "users.push({ geocode: { id: #{@user.id}, title: \"#{h @user.login}\", latitude: #{@user.geocode.latitude}, longitude: #{@user.geocode.longitude} } });" if @user.geocode && @user.geocode.latitude && @user.geocode.longitude %>
	
  function load() {
    if (GBrowserIsCompatible()) {
    	OneStory.Maps.set(setupMap());
    	OneStory.Markers.addMarkers(users, { callback: OneStory.Markers.showInfo });
    }
  }
  
  function setupMap() {
    var map = new google.maps.Map2(document.getElementById('map'), { mapTypes: [ G_PHYSICAL_MAP, G_NORMAL_MAP, G_SATELLITE_MAP ], backgroundColor: '#ffffff' });
    map.setCenter(new google.maps.LatLng(23, 0), 4);
    // map.addControl(new GLargeMapControl(), new GControlPosition(G_ANCHOR_TOP_RIGHT, new GSize(16, 36)));
    // map.addControl(new GMenuMapTypeControl(), new GControlPosition(G_ANCHOR_TOP_LEFT, new GSize(26, 36)));    
    // map.enableDoubleClickZoom();
    return map;
  }
  
  window.addEvent('load', load);
  window.addEvent('unload', GUnload);
  

//]]>
</script>