<div class='title'>
	<p class='inner_title'>Our Story</p>
	<p style="line-height: 2.0em; text-align: justify">
		One Story Road’s first spark began at, Off The Beaten Path, a coffee shop in Steamboat Springs, CO.  The idea of OSR was inspired by NPR’s National Story Project.  NPR’s project, started by Paul Auster, collected stories from people all across the nation and read them on-air.  Deeply moved by the stories people shared quickly grew into a passion to create a place where people could continue to share their stories.  Built to be an open stage to anyone and everyone, anonymously or not, OSR is for the stories and experiences of the world around us. We’re offering a way of exploring it all through our words and images, by mapping out the connections between them all.  With little means and years of time the pieces were slowly put together to form OneStoryRoad. Many minds and hands took part in its creation.  It will take many more hands and minds to finish it, brick by brick.  With a mission to empower people with their own voice, realizing the value and importance of their stories, our goal is to bring them all together as one voice.  One Story. One Road.
	</br>
	</br>
	</br>
	</p>
</div>