<div class="dp100">

  <div id="welcome" class="dp50">
  
    <h1>Welcome to your admin</h1>
    
    <h3>You are now logged in.</h3> 
    <p>If you have any questions please contact your administrator.</p>
    
  </div>
   
  <div class="clear">&nbsp;</div>

</div>
