<fieldset id="fieldset_new_template" class="storySection" style="display: none;">
<ul>

	<li class="paragraph">
   <textarea class="autoField" cols="68" id="paragraphs_new_template_body" name="paragraphs_new[template][body]" rows="10"></textarea>
	</li>
	
		
	<li class="photo">
   <span>
     <label for="paragraphs_new_template_asset">add photo</label>
     <input id="paragraphs_new_template_asset" name="paragraphs_new[template][asset]" size="30" type="file" /><div class="clear">&nbsp;</div>
   </span>
	</li>

</ul>
</fieldset>