<div id="locationList">
  <div class="top">
    <a href="#close" class="close">X</a>
    <h3></h3>
    <h2></h2>
  </div>
  <div class="bottom">
    <ul>
      <li class="title label">Story Title</li>
      <li class="date label">Date</li>
      <li class="views label">Views</li>
    </ul>
  </div>
</div>
